@import "../../variables";

.purchaseContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: $border-radius;
  border: 2px $color-light solid;
  background: #141212;
  box-shadow: 0 4px 8px rgba(224, 224, 224, 0.1);
  color: $color-light;

  @media (max-width: 768px) {
    padding: 1.5rem;
  }

  .header {
    text-align: center;
    margin-bottom: 2rem;

    .title {
      font-size: $font-size-large;
      font-weight: $font-weight-semiBold;
      text-align: center;
      line-height: 56px;
      @media (max-width: 768px) {
        font-size: $font-size-medium;
        line-height: 28px;
      }
    }

    .subtitle {
      font-size: 20px;
      line-height: 22px;
      @media (max-width: 768px) {
        font-size: $font-size-small;
        line-height: 20px;
      }
    }
  }

  .packageDetails {
    margin-bottom: $margin-large;
    padding: 1rem;
    background: url("../../../data//Pages/Rate/Pricing.png");
    border-radius: $border-radius;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 32px;
    border-radius: $border-radius;

    .packageTitle {
      font-size: 1.2rem;
      font-weight: bold;
      color: $color-light;
    }

    .packageDescription {
      font-size: 1rem;
      color: $color-light;
    }

    .note {
      font-size: 20px;
      font-weight: $font-weight-semiBold;
      color: #b4b4b4;
      line-height: 24px;
      margin-top: 0.5rem;
    }
  }

  .paymentSection {
    margin-bottom: 2rem;

    .paymentTitle {
      font-size: 1.1rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: $color-light;
    }

    .paymentButton {
      width: 100%;
      padding: 0.75rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      color: $color-light;
      border: none;
      border-radius: $border-radius;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.paypal {
        background-color: #0070ba;

        &:hover {
          background-color: darken(#0070ba, 10%);
        }
      }

      &.creditCard {
        background-color: #333;

        &:hover {
          background-color: darken(#333, 10%);
        }
      }
    }
  }

  .footer {
    text-align: center;

    .confirmButton {
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      color: $color-light;
      background-color: $bg-red;
      border: none;
      border-radius: $border-radius;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($bg-red, 10%);
      }
    }
  }
}

.backButton {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: $color-light;
  background-color: $bg-red;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($bg-red, 10%);
  }
}
