// _variables.scss
$bg-red: #F14141;
$color-light: #fff;
$color-dark: #383838;
$color-primary: #ff0000;
$color-secondary: #878787;
$font-size-large: 48px;
$font-size-medium: 24px;
$font-size-small: 16px;
$padding-large: 80px;
$padding-medium: 12px;
$padding-xsmall: 4px;
$padding-small: 8px;
$margin-large: 24px;
$margin-medium: 16px;
$margin-small: 12px;
$border-radius: 6px;

$font-weight-medium: 500;
$font-weight-semiBold: 600;

$no-margin: 0px;

$padding-small: 8px;

$background-color-red-hover: darken($color-primary, 5%);