/* intro.module.css. Этот файл уже с адаптивом, но могут быть и ошибки */

.introSection {
    margin: 112px 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

.description {
}

.title {
    color: #fff;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -2%;
    line-height: 56px;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease;
}

.title:hover {
    color: #fc6565;
}

.introSection {
    margin-left: auto;
}

.subtitle {
    margin: 24px 0;
    color: #878787;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -2%;
    text-align: left;
}

.buttonContainer {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.buttonContainer .watchTrailer, .buttonContainer .moreInfo  {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonContainer .watchTrailer:hover, .buttonContainer .moreInfo:hover {
    background-color: #777;
}


.watchTrailer {
    width: 179px;
    height: 56px;
    border-radius: 6px;
    background: #e50914;
    padding: 16px 24px;
    border: none;
}

.moreInfo {
    width: 119px;
    height: 56px;
    border-radius: 6px;
    border: 1px #F14141 solid;
    padding: 16px;
    background: none;
}

.sliderControls {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}
  
.sliderControls button {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #ff0000;
}

.photoContainer img {
    width: 432px;
    height: 458px;
    
}
  
/* Адаптивность */
@media (max-width: 1240px) {
    .title {
        font-size: 36px; /* Уменьшаем размер шрифта заголовка */
        line-height: 42px;
    }

    .subtitle {
        font-size: 16px; /* Уменьшаем размер шрифта подзаголовка */
        line-height: 24px;
    }

    .photoContainer img {
        width: 432px;
        height: 340px;
    }
}

@media (max-width: 1024px) {
    .introSection {
        gap: clamp(0rem, -12.188rem + 25.391vw, 4.063rem);
    }

    .title {
        font-size: 30px; /* Уменьшаем размер шрифта заголовка */
        line-height: 36px;
    }

    .subtitle {
        font-size: 14px; /* Уменьшаем размер шрифта подзаголовка */
        line-height: 22px;
    }

    .photoContainer img {
        width: 352px;
        height: 320px;
    }
}

@media (max-width: 768px) {
    .introSection {
      flex-direction: column;
      text-align: center;
    }

    .watchTrailer, .moreInfo {
        width: 100%;
        height: 15%;
    }
  
    .description {
      max-width: 100%;
    }
  
    .photoContainer img {
      width: 100%;
      height: 320px;
    }
  
    .buttonContainer {
      flex-direction: column;
      gap: 12px;
      width: 100%;
      align-items: center;
    }

    .prev {
    margin-left: 0;
    }

    .next {
        margin-left: auto;
    }
}
  
@media (max-width: 480px) {
    .description h1 {
      font-size: 18px;
    }
  
    .description p {
      font-size: 14px;
    }
  
    .buttonContainer button {
      width: 100%;
    }
}