/* latest */

.newsSection {
    margin: 120px 0;
}

.title {
    color: #fff;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -2%;
    line-height: 56px;
    text-align: center;
}

.newsContainer {
    display: flex;
    flex-direction: column;
    gap: 80px; /* Отступ между большими и маленькими новостями */
}

.mainNews {
    display: flex;
    gap: 56px; /* Отступ между изображением и текстом */
}

.mainImage {
    width: 592px; /* Ширина большого изображения */
    height: 417px; /* Высота большого изображения */
    object-fit: cover; /* Обрезка изображения для заполнения области */
}

.mainText {
    flex: 1; /* Позволяет тексту занимать оставшуюся ширину */
    color: #fff; /* Цвет текста */
    margin: 71.5px 0;
}

.mainText h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

.mainText p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #878787; /* Цвет текста для абзаца */
    margin: 24px 0 32px 0; /* Отступ сверху 24px, снизу 32px */
}

.readMoreButton {
    background-color: #242323; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    width: 161px;
    height: 56px;
    padding: 16px 24px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    font-size: 16px;
    border-radius: 6px;
}

.otherNews {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три колонки для маленьких изображений */
    gap: auto; /* Расстояние между маленькими новостями */
}

.newsItem img {
    width: 100%; /* Ширина маленького изображения */
    height: 358px; /* Высота маленького изображения */
    object-fit: cover; /* Обрезка изображения для заполнения области */
}

.newsItem {
    width: 376px;
}

.newsItem p {
    color: #fff; /* Цвет текста для абзаца */
    font-size: 26px;
    line-height: 32px;
    text-align: left;
    margin-top: 32px;
}

/* Адаптивная верстка */

@media (max-width: 1240px) {
    .mainImage {
        width: 492px; /* Уменьшенная ширина */
        height: 350px; /* Уменьшенная высота */
    }

    .mainText {
        margin: 40px 0; /* Равные отступы сверху и снизу */
    }

    .otherNews {
        grid-template-columns: repeat(3, 1fr); /* Две колонки для маленьких изображений на этом разрешении */
        gap: auto;
    }

    .newsItem img {
        height: 270px; /* Одинаковая высота для всех изображений */
    }

    .newsItem {
        width: 270px;
    }

    .newsItem p {
        font-size: 22px;
    }

    .otherNews {
        gap: auto;
    }
}

@media (max-width: 1024px) {
    .mainImage {
        width: 400px; /* Еще более уменьшенная ширина */
        height: 460px; /* Еще более уменьшенная высота */
    }

    .mainText {
        margin: auto 0; /* Корректировка отступов */
    }

    .otherNews {
        grid-template-columns: repeat(2, 1fr); /* Оставляем две колонки для маленьких изображений */
        gap: 56px;
    }

    .newsItem img {
        height: 280px; /* Одинаковая высота */
    }

    .newsItem {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .mainNews {
        flex-direction: column;
    }

    .mainImage {
        width: 100%;
        height: auto;
    }

    .mainText {
        margin: 0;
        text-align: center;
    }

    .otherNews {
        grid-template-columns: 1fr; /* Одна колонка для мобильных устройств */
        gap: 24px; /* Уменьшаем расстояние между маленькими новостями */
    }

    .newsItem p {
        font-size: clamp(1.125rem, 0.752rem + 1.299vw, 1.375rem);
        line-height: 22px;
    }
    
    .readMoreButton {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
}