.movieSection {
    margin: 120px 0;
}

.title {
    color: #fff;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -2%;
    line-height: 56px;
    text-align: center;
    margin: 0 auto;
    width: 788px;
}

.movieContainer {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Отступы между группами фильмов */
}

.movieContainer img {
    border-radius: 10px;
}

/* Сетка для больших элементов */
.movieContainerLarge {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два больших элемента в строку */
    gap: 56px;
    justify-items: center;
}

/* Сетка для маленьких элементов */
.movieContainerSmall {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три маленьких элемента в строку */
    gap: 56px;
    justify-items: center;
}

.movieItemLarge {
    width: 592px;
    text-align: center;
}

.movieItemSmall {
    width: 376px;
    text-align: center;
}

.movieImageLarge {
    width: 100%; /* Изображение занимает всю ширину контейнера */
    height: 485px;
    object-fit: cover;
}

.movieImageSmall {
    width: 100%; /* Изображение занимает всю ширину контейнера */
    height: 485px;
    object-fit: cover;
}

.movieContainer h3 {
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-top: 32px;
}

.movieContainer p {
    color: #878787;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    margin: 24px 24px 0;
}

.buttonContainer {
    display: flex;
    gap: 24px;
    margin-top: 48px;
    justify-content: center;
}

.trailerButton, .moreInfoButton {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    background-color: #e50914;
    height: 56px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.trailerButton {
    width: 179px;
}

.moreInfoButton {
    width: 119px;
    background-color: #101010;
    border: 1px #F14141 solid;
}

.trailerButton:hover, .moreInfoButton:hover {
    background-color: #777;
}

/* Адаптивная верстка */
@media (max-width: 1024px) {
    .movieContainerLarge {
        grid-template-columns: 1fr; /* На узких экранах большие элементы занимают всю ширину */
    }

    .movieContainerSmall {
        grid-template-columns: 1fr; /* Маленькие элементы также занимают всю ширину */
    }

    .movieItemLarge, .movieItemSmall {
        width: 100%; /* Элементы занимают всю ширину экрана */
    }

    .movieImageLarge, .movieImageSmall {
        width: 100%; /* Изображения растягиваются по ширине контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 32px;
        line-height: 40px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 24px;
        line-height: 32px;
    }

    .movieItemLarge, .movieItemSmall {
        margin-bottom: 40px;
    }

    .trailerButton, .moreInfoButton {
        padding: 8px 16px;
        font-size: 12px;
    }
}
