/* header.module.css */

/* Общие стили */
.headerLine {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Центрирование по вертикали */
}

.menuContainer {
  display: flex;
  width: 100%; /* Занять всю ширину родителя */
}

.logo {
  margin-top: 8px;
}

.logo img {
  width: 187px;
  height: auto; /* Автоматическая высота для сохранения пропорций */
}

/* Навигация */
.nav {
  display: flex;
  justify-content: center; /* Центрирование навигации по горизонтали */
  align-items: center; /* Вертикальное центрирование */
  flex: 1; /* Занять оставшееся пространство */
}

.nav ul {
  margin: 12px 0;
  list-style: none;
  display: flex;
  color: #878787;
  gap: 40px; /* Увеличение отступа между пунктами меню */
  padding: 0; /* Убираем отступы */
}

.nav ul li {
  font-weight: 500;
  line-height: 24px;
  font-size: 18px; /* Увеличение размера шрифта для лучшей читаемости */
  letter-spacing: -1%; /* Изменение межбуквенного интервала */
  text-align: left;
  transition: color 0.3s ease; /* Плавный переход цвета */
  cursor: pointer;
}

.nav ul li:hover {
  color: #ff0000; /* Изменение цвета при наведении */
}

.nav a {
  text-decoration: none;
  color: inherit;
}

/* Стили для элементов .nav ul li button, чтобы они выглядели как ссылки */
.nav ul li button {
  font-weight: 500;
  line-height: 24px;
  font-size: 18px; /* Размер шрифта как у ссылок */
  letter-spacing: -1%;
  text-align: left;
  background: none; /* Убираем фон кнопки */
  border: none; /* Убираем границу */
  cursor: pointer; /* Устанавливаем курсор как у ссылок */
  color: inherit; /* Устанавливаем цвет текста */
  transition: color 0.3s ease; /* Плавный переход цвета при наведении */
  padding: 0; /* Убираем отступы */
}

.nav ul li button:hover {
  color: #ff0000; /* Цвет при наведении как у ссылок */
}


/* Анимации для кнопок */
.buttonContainer {
  display: flex;
  gap: 16px; /* Увеличение отступа между кнопками */
}

.buttonContainer button {
  height: 56px;
  color: #fff;
  line-height: 24px;
  font-size: 16px;
  padding: 0 24px; /* Удаляем верхний и нижний отступ, добавляем только по бокам */
  border: none;
  border-radius: 8px; /* Закругление углов */
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonContainer .subscribeBtn {
  background-color: #ff0000;
}

.buttonContainer .loginBtn {
  border: 2px solid #F14141;
  background: none;
}

.buttonContainer button:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.buttonContainer .searchBtn {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  border: 2px solid #383838;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.burgerButton {
  display: none;
}

.profileIcon {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .burgerButton {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: auto 0;
  }

  /* Новый контейнер для меню */
  .menuContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #383838;
    border: 2px solid rgba(223, 22, 22, 0.5);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Выравнивание по верхнему краю */
    padding-top: 40px; /* Отступ сверху для .nav */
    overflow: hidden;
  }

  /* Когда меню открыто */
  .menuContainer.open {
    transform: translateX(0);
  }

  .nav {
    align-items: unset;
    display: flex; /* Убираем центрирование для бургер-меню */
    justify-content: flex-start; /* Выровнять влево для бургер-меню */
    width: 100%; /* Занять всю ширину для бургер-меню */
    padding-left: 20px; /* Отступ слева для навигации */
  }

  .nav ul {
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0; /* Убираем отступы для упорядочивания */
    gap: 20px; /* Уменьшение пространства между элементами навигации */
  }

  .nav ul li {
    font-size: 22px;
  }

  .buttonContainer {
    padding-left: 20px; /* Отступ слева для кнопок */
    margin-bottom: 350px; /* Отступ снизу для кнопок */
    display: flex;
    flex-direction: column;
    gap: 16px; /* Расстояние между кнопками */
  }

  .buttonContainer button {
    width: 90%;
    padding: 0;
  }

  .searchBtn {
    width: 48px;
    height: 48px;
  }
}
