.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    color: #878787;
}
  
.container .title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}
  
.container .subtitle {
    font-size: 1.8rem;
    margin-top: 20px;
    color: #fff;
}
  
.container .description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}
  
@media (max-width: 600px) {
    .container .title {
      font-size: 2rem;
    }
  
    .container .subtitle {
      font-size: 1.5rem;
    }
  
    .container .description {
      font-size: 0.9rem;
    }
}
  